[submodule "3rd-party/ezvis"]
	path = 3rd-party/ezvis
	url = https://github.com/serjzimmerman/ezvis.git
[submodule "3rd-party/graphs"]
	path = 3rd-party/graphs
	url = https://github.com/ajlekcahdp4/graphs.git
	branch = build
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
